.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.button {
  background-color: cornflowerblue;
  color: white;
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  min-width: 100px;
  padding: 6px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(61, 116, 219);
}

.button:disabled {
  background-color: gray;
  opacity: 0.8;
  cursor: default;
}
